
body {
  margin: auto;
}

.container {
  height: 96vh;
  margin: .75em;
}

.pure-u-1 {
  height: 33.4%;
}

/*GRID BOX COLORS*/
.dark {
  background: #303030;
  color: #F2F2F2;
}

.light {
  background: #FDFDFD;
}

.contact-me {
  margin-top: 5em;
  text-align: center;
}
.icons li {
  display: inline;
  margin-right: 2em;

}


@keyframes shake {
  0% {
    transform:rotate(7deg);
    }
  50% {
      transform:rotate(-7deg);
    }
  100% {
    transform:rotate(7deg);
  }
    }

i:hover, .main-links a:hover{
  animation: shake .2s 5;
  color: mediumspringgreen;
}

.mobile {
  display: none;
}

.main-links {
  color: black;
  text-align: center;
}

.main-links h2 {
  margin: 2em auto 0;
}

h1 {
  margin: .25em .5em -.6em;
  font-family: 'Megrim', cursive;
  font-size: 5em;
}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.5em;
  text-align: center;
}

p {
  font-family: 'monaco', sans-serif;
  font-size: 1.25em;
  font-style: italic;
}

.about {
  margin: 1em;
  line-height: 1.6em;
}

.main, .contact-section {
  float: right;
  margin-top: 10.5em;
  margin-right: 4em;
  line-height: 2.75em;
}
.main a, .contact-section a {
  font-size: 2.5em;

}
h1:hover, .nav a:hover, .project-links a:hover, .main-links a:hover, .contact-me:hover, .main a:hover, .contact-section a:hover, .sub-nav a:hover{
  color: mediumspringgreen;
}


li, a{
  list-style: none;
  text-decoration: none;
  color: black;
}

/*----------------------------------------*/
.nav {
  position: fixed;
  box-shadow: 1px 2px 3px darkgray;
  width: 100%;
  z-index: 10;
  background: #FAF9FB;
}
.nav h3 {
  font-family: 'Megrim', cursive;
  font-size: 1.5em;
  margin: .25em 1em;
}

.ul-menu{
  margin: -1.5em 1em .75em;

  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
 -webkit-justify-content: right;
     -ms-flex-pack: right;
  justify-content: right;
  text-align: right;
  -webkit-flex-flow: column nowrap;
     -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.ul-menu i{
  animation: none;
}
.sub-nav {
  display: none;
  -webkit-box-pack: center;
 -webkit-justify-content: center;
     -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-flex-flow: column nowrap;
     -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-top: 1em;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  height: auto;
}
.contact-icons {
  margin-left: -1.75em;
}
.contact-icons li {
  display: inline-flex;
  margin: -.5em .25em ;
}
/*.ul-menu:hover .sub-nav{
  display: block;
}*/

footer {
  margin-top: .25em;
  color: mediumspringgreen;
}

.background {
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
      transform: translateY(30vh);
 -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
 transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.background:first-child {
  background-image: url("images/sidewalk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-15vh);
         transform: translateY(-15vh);
  z-index: 4;
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
         transform: translateY(15vh);
}
.background:nth-child(2) {
  background: #F2F2F2;
  z-index: 3;
}
.background:nth-child(3) {
  background-image: url("images/sidewalk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.background:nth-child(4) {
  background: #5D5D5D;
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  color: #000;
  text-align: center;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}


@keyframes bounce {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

.img-div {
  width: 100%;
  margin-top: 7em;
}

.project-img {
  max-width: 80%;
  margin: 0 auto;
}

.project-img:hover {
  animation: bounce 2 2s;
  transition-timing-function: ease-in-out;
}


.project-description {
  font-size: 1em;
  margin: -1.5em 5em auto;
  font-style: normal;
}

.tech {
  line-height: 2.25em;
  font-style: italic;
}
.project-links {
  margin-top: -.25em;
  margin-left: -2.5em;
}
.project-links li{
  display: inline-flex;
  margin: .5em;
  padding: .5em 1em;
  border-radius: 2px;
  background: #fff;
  color: #000;
  line-height: 1;
  border: 2px solid #000;
}

.project-links a {

  font-family: 'monaco', sans-serif;
  font-size: .75em;
}



.project-links li:hover {
  border: 2px solid mediumspringgreen;
}



/*----------------------------------------*/

@media screen and (max-width: 64em) {
  .extras {
    display: none;
  }
  .pure-u-1 {
    height: 25%;
  }
  .contact-me {
    margin-top: 2em;
  }

  .main-links h2, .contact-me h2{
    margin-top: .75em;
    margin-bottom: -.25em;
  }


}

@media screen and (max-width: 48em){
  .extra, .extras {
    display: none;
  }
  .pure-u-1 {
    height: 20%;
  }
  .mobile {
    display: block;
  }

  h1 {
    font-size: 3em;
  }
  .contact-me {
    margin-top: 1em;
  }
  .main-links h2, .contact-me h2{
    margin-top: .25em;
    margin-bottom: -.25em;
    font-size: 1em;
  }

  .project-description {
    font-size: .75em;
    margin: -1.5em 1em auto;
    font-style: normal;
  }

  .tech {
    font-size: 1.1em;
    top: 1.25em;
    font-style: italic;
}
}
